body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 227, 243);
  margin: 0px;
}

main {
  z-index: -1;
  position: absolute;
  top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  main {
    top: 250px;
    bottom: 115px;
  }
}
