.homeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation {
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(116, 153, 159), white);
  border-radius: 50px;
  font-size: 2em;
  padding: 30px;
  margin: 20px;
  width: 55%;
  text-align: center;
  font-style: italic;
}

.linksBox {
  display: flex;
  justify-content: center;
  width: 60%;
}
.link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 250px;
  width: 50%;
  box-shadow: 5px 5px 4px rgb(116, 153, 159);
}
.link a {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  border-radius: 50px;
  padding: 5px;
  width: 70%;
  text-align: center;
}
.link a:hover {
  background-color: black;
}

.linkLeft {
  background: url("../../public/home-image1.jpg");
  background-size: cover;
  border-top-left-radius: 50px;
  margin-right: 5px;
}
.linkRight {
  background: url("../../public/home-image2.jpg");
  background-size: cover;
  border-top-right-radius: 50px;
  margin-left: 5px;
}

.skillsBox {
  margin: 10px 0px 50px 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to right, rgb(116, 153, 159), white);
  padding: 20px;
  border-radius: 0px 0px 50px 50px;
  width: 60%;
}
.skill {
  margin: 40px 5px 40px 5px;
  rotate: -40deg;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

@media screen and (max-width: 800px) {
  .presentation {
    width: 75%;
    font-size: 1em;
  }
  .linksBox {
    width: 75%;
    flex-direction: column;
  }

  .link {
    width: 100%;
  }

  .linkLeft,
  .linkRight {
    border-radius: 50px;
    margin: 10px 0px 10px 0px;
  }

  .skillsBox {
    width: 75%;
    border-radius: 50px;
    margin-bottom: 100px;
  }
}
